<div class="container">
    <h2 class="text-center mt-4">Our Companies Locations</h2>
    <agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="true" [zoom]="zoom">
        <agm-marker *ngFor="let company of companies" [latitude]="company.company_lat" [longitude]="company.company_lng">
            <agm-info-window>
                Name: <strong>{{company.company_name}}</strong><br>
                <img *ngIf="company.company_image" src="{{domain_url+company.company_image}}" height="80" width="100" alt="map-image">
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>
<div *ngFor="let company of companies">
    <p>{{domain_url+company.company_image}}</p>
</div>
<!-- <p>{{companies.company_lat}}</p>
=[[.;<p>{{companies.company_lng}}</p> -->